.myCard {
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.myImg::after {
  content: "";
  height: 0%;
  width: 100%;
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 40;
}
.myCard::before {
  content: "";
  height: 0%;
  width: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  opacity: 0;
  background-color: #f3bd00;
  z-index: -1;
}
.myCard:hover::before {
  transition: all 0.5s ease-in;
  opacity: 1;
  height: 100%;
}

.myCard:not(:hover)::before {
  transition: all 0.5s ease-in-out;
}
/* here we are grouping so when we hover on mycard then we apply myimg after */
.myCard:hover .myImg::after {
  /* top: 0%; */
  height: 100%;
  opacity: 0.5;
  z-index: 40;
  transition: all 0.5s ease-in-out;
}
.myImg:not(:hover)::after {
  height: 0;
  transition: all 0.5s ease-in-out;
}

.myBanner::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.inputBorder::after {
  content: "";
  height: 0%;
  width: 100%;
  background-color: #f3bd00;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.inputBorder {
  transform: scale(1);
  transition: all 0.1s ease-in;
}
.inputBorder:focus-within {
  transform: scale(1.02);
}

.inputBorder:focus-within::after {
  opacity: 1;
  height: 100%;
}
.slick-dots {
  bottom: -4rem !important;
  display: flex !important;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.slick-dots li button::before {
  /* background-color: #f3bd00; */
  border: 2px solid #f3bd00 !important;

  height: 20px;
  width: 20px;
  transform: scale(1);

  border-radius: 0 !important;
  content: "" !important;
  transition: all 0.5s ease-in-out;
}

.slick-dots li.slick-active {
  background-color: #f3bd00;
  /* border: none; */
  transition: all 0.5s ease-in-out;
  transform: scale(2);
  /* height: 40px;
  width: 40px; */
}
